aws-native-reference/03-clinical-trial-ops/stepfunctions/clinical_trial_ops.asl.json
{
  "Comment": "Clinical Trial Ops — study health briefing pipeline with HITL gate (waitForTaskToken)",
  "StartAt": "Assemble",
  "States": {
    "Assemble": {
      "Type": "Task",
      "Resource": "${AssembleFunctionArn}",
      "ResultSelector": { "body.$": "States.StringToJson($.body)" },
      "ResultPath": "$",
      "Next": "Draft",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "PipelineFailed",
          "ResultPath": "$.error"
        }
      ]
    },
    "Draft": {
      "Type": "Task",
      "Resource": "${DraftFunctionArn}",
      "ResultSelector": { "body.$": "States.StringToJson($.body)" },
      "ResultPath": "$",
      "Next": "Check",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "PipelineFailed",
          "ResultPath": "$.error"
        }
      ]
    },
    "Check": {
      "Type": "Task",
      "Resource": "${CheckFunctionArn}",
      "ResultSelector": { "body.$": "States.StringToJson($.body)" },
      "ResultPath": "$",
      "Next": "RouteDecision",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "PipelineFailed",
          "ResultPath": "$.error"
        }
      ]
    },
    "RouteDecision": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.body.routing.next",
          "StringEquals": "Draft",
          "Next": "Draft"
        },
        {
          "Variable": "$.body.routing.next",
          "StringEquals": "HumanReviewGate",
          "Next": "HumanReviewGate"
        }
      ],
      "Default": "HumanReviewGate"
    },
    "HumanReviewGate": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Parameters": {
        "FunctionName": "${HitlNotifyFunctionArn}",
        "Payload": {
          "taskToken.$": "$$.Task.Token",
          "body.$": "$.body"
        }
      },
      "ResultPath": "$.humanReviewResult",
      "TimeoutSeconds": 86400,
      "HeartbeatSeconds": 3600,
      "Next": "Finalize",
      "Catch": [
        {
          "ErrorEquals": ["States.HeartbeatTimeout", "States.Timeout"],
          "Next": "ReviewTimeout",
          "ResultPath": "$.error"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "PipelineFailed",
          "ResultPath": "$.error"
        }
      ]
    },
    "Finalize": {
      "Type": "Task",
      "Resource": "${FinalizeFunctionArn}",
      "Parameters": {
        "body.$": "$.body",
        "human_decision.$": "$.humanReviewResult.decision"
      },
      "ResultSelector": { "body.$": "States.StringToJson($.body)" },
      "ResultPath": "$",
      "End": true,
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "PipelineFailed",
          "ResultPath": "$.error"
        }
      ]
    },
    "ReviewTimeout": {
      "Type": "Fail",
      "Error": "ReviewTimeout",
      "Cause": "Human review gate exceeded the 24-hour timeout without a decision."
    },
    "PipelineFailed": {
      "Type": "Fail",
      "Error": "PipelineFailed",
      "Cause": "An unrecoverable error occurred in the clinical trial ops pipeline."
    }
  }
}
