infra/cloudformation/agent-service.yaml
AWSTemplateFormatVersion: "2010-09-09"
Description: >
  HCLS Agent Suite - Per-agent service stack. Deploys the native rebuild
  (Step Functions orchestrating Lambdas, with a waitForTaskToken human gate) OR
  the container lift (AgentCore Runtime / ECS). Parameterized by AgentId so the
  same template serves every agent in the suite.

Parameters:
  Environment: { Type: String, Default: dev }
  AgentId:
    Type: String
    Default: 01-regulatory-writing
    Description: Agent folder id (e.g. 01-regulatory-writing, 02-pharmacovigilance).
  DeployMode:
    Type: String
    Default: native
    AllowedValues: [native, container]
  LambdaCodeBucket: { Type: String, Description: S3 bucket holding lambdas.zip }
  LambdaCodeKey: { Type: String, Default: lambdas.zip }
  AgentExecutionRoleArn: { Type: String }
  BedrockGuardrailId: { Type: String, Default: "" }
  ReviewTableName: { Type: String }
  # --- Container (ECS Fargate) path parameters (ignored in native mode) ---
  VpcId: { Type: String, Default: "" }
  PrivateSubnets:
    Type: CommaDelimitedList
    Default: ""
    Description: Private subnet IDs (from the network stack) for the Fargate service.
  AppSecurityGroupId: { Type: String, Default: "" }
  ContainerImageUri:
    Type: String
    Default: ""
    Description: ECR image URI (ARM64) built from aws-native-reference/_shared/runtime.
  AgentModule:
    Type: String
    Default: agent.graph:build_graph
    Description: "module:factory of the agent's compiled LangGraph (AGENT_MODULE)."

Conditions:
  IsNative: !Equals [!Ref DeployMode, native]
  IsContainer: !Equals [!Ref DeployMode, container]

Resources:
  StateMachineRole:
    Type: AWS::IAM::Role
    Condition: IsNative
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - { Effect: Allow, Principal: { Service: states.amazonaws.com }, Action: sts:AssumeRole }
      Policies:
        - PolicyName: invoke-lambdas
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: lambda:InvokeFunction
                Resource: !Sub "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:hcls-${Environment}-${AgentId}-*"

  AssembleFunction:
    Type: AWS::Lambda::Function
    Condition: IsNative
    Properties:
      FunctionName: !Sub "hcls-${Environment}-${AgentId}-assemble"
      Runtime: python3.11
      Handler: lambdas.assemble.handler
      Timeout: 60
      Role: !Ref AgentExecutionRoleArn
      Code: { S3Bucket: !Ref LambdaCodeBucket, S3Key: !Ref LambdaCodeKey }

  DraftFunction:
    Type: AWS::Lambda::Function
    Condition: IsNative
    Properties:
      FunctionName: !Sub "hcls-${Environment}-${AgentId}-draft"
      Runtime: python3.11
      Handler: lambdas.draft.handler
      Timeout: 120
      Role: !Ref AgentExecutionRoleArn
      Environment:
        Variables:
          BEDROCK_GUARDRAIL_ID: !Ref BedrockGuardrailId
          LLM_PROVIDER: bedrock
      Code: { S3Bucket: !Ref LambdaCodeBucket, S3Key: !Ref LambdaCodeKey }

  CheckFunction:
    Type: AWS::Lambda::Function
    Condition: IsNative
    Properties:
      FunctionName: !Sub "hcls-${Environment}-${AgentId}-check"
      Runtime: python3.11
      Handler: lambdas.check.handler
      Timeout: 60
      Role: !Ref AgentExecutionRoleArn
      Code: { S3Bucket: !Ref LambdaCodeBucket, S3Key: !Ref LambdaCodeKey }

  HitlNotifyFunction:
    Type: AWS::Lambda::Function
    Condition: IsNative
    Properties:
      FunctionName: !Sub "hcls-${Environment}-${AgentId}-hitl-notify"
      Runtime: python3.11
      Handler: lambdas.hitl_notify.handler
      Timeout: 60
      Role: !Ref AgentExecutionRoleArn
      Environment: { Variables: { REVIEW_TABLE: !Ref ReviewTableName } }
      Code: { S3Bucket: !Ref LambdaCodeBucket, S3Key: !Ref LambdaCodeKey }

  FinalizeFunction:
    Type: AWS::Lambda::Function
    Condition: IsNative
    Properties:
      FunctionName: !Sub "hcls-${Environment}-${AgentId}-finalize"
      Runtime: python3.11
      Handler: lambdas.finalize.handler
      Timeout: 60
      Role: !Ref AgentExecutionRoleArn
      Code: { S3Bucket: !Ref LambdaCodeBucket, S3Key: !Ref LambdaCodeKey }

  WorkflowStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Condition: IsNative
    Properties:
      StateMachineName: !Sub "hcls-${Environment}-${AgentId}"
      RoleArn: !GetAtt StateMachineRole.Arn
      DefinitionSubstitutions:
        AssembleFunctionArn: !GetAtt AssembleFunction.Arn
        DraftFunctionArn: !GetAtt DraftFunction.Arn
        CheckFunctionArn: !GetAtt CheckFunction.Arn
        HitlNotifyFunctionArn: !GetAtt HitlNotifyFunction.Arn
        FinalizeFunctionArn: !GetAtt FinalizeFunction.Arn
      DefinitionString: |
        {
          "Comment": "HCLS agent workflow (native). HITL via waitForTaskToken.",
          "StartAt": "Assemble",
          "States": {
            "Assemble": {"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","Parameters":{"FunctionName":"${AssembleFunctionArn}","Payload.$":"$"},"OutputPath":"$.Payload","Next":"Draft"},
            "Draft": {"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","Parameters":{"FunctionName":"${DraftFunctionArn}","Payload.$":"$"},"OutputPath":"$.Payload","Next":"Check"},
            "Check": {"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","Parameters":{"FunctionName":"${CheckFunctionArn}","Payload.$":"$"},"OutputPath":"$.Payload","Next":"RouteChoice"},
            "RouteChoice": {"Type":"Choice","Choices":[{"Variable":"$.routing.next","StringEquals":"Draft","Next":"Draft"}],"Default":"HumanReviewGate"},
            "HumanReviewGate": {"Type":"Task","Resource":"arn:aws:states:::lambda:invoke.waitForTaskToken","Parameters":{"FunctionName":"${HitlNotifyFunctionArn}","Payload":{"input.$":"$","task_token.$":"$$.Task.Token"}},"ResultPath":"$.review","TimeoutSeconds":1209600,"Next":"Finalize"},
            "Finalize": {"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","Parameters":{"FunctionName":"${FinalizeFunctionArn}","Payload.$":"$"},"OutputPath":"$.Payload","End":true}
          }
        }

  # ─────────────────────────────────────────────────────────────────────────
  # CONTAINER PATH — ECS Fargate (ARM64). Runs the LangGraph agent unchanged via
  # the shared AgentCore-contract runtime image (serve.py: /invocations + /ping,
  # port 8080). This is the "creating the agent itself" resource in container
  # mode: the running service IS the agent. Works in any commercial region. In an
  # AgentCore-enabled region you may instead register the same ECR image with
  # AgentCore Runtime — same image, no code change.
  # ─────────────────────────────────────────────────────────────────────────
  AgentLogGroup:
    Type: AWS::Logs::LogGroup
    Condition: IsContainer
    Properties:
      LogGroupName: !Sub "/aws/ecs/hcls-${Environment}-${AgentId}"
      RetentionInDays: 30

  EcsCluster:
    Type: AWS::ECS::Cluster
    Condition: IsContainer
    Properties:
      ClusterName: !Sub "hcls-${Environment}-${AgentId}"

  # Task EXECUTION role: pulls the image from ECR and writes logs (separate from
  # the app/task role, which is the shared least-privilege AgentExecutionRole).
  TaskExecutionRole:
    Type: AWS::IAM::Role
    Condition: IsContainer
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - { Effect: Allow, Principal: { Service: ecs-tasks.amazonaws.com }, Action: sts:AssumeRole }
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AmazonECSTaskExecutionRolePolicy

  AgentTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Condition: IsContainer
    Properties:
      Family: !Sub "hcls-${Environment}-${AgentId}"
      Cpu: "512"
      Memory: "1024"
      NetworkMode: awsvpc
      RequiresCompatibilities: [FARGATE]
      RuntimePlatform: { CpuArchitecture: ARM64, OperatingSystemFamily: LINUX }
      ExecutionRoleArn: !GetAtt TaskExecutionRole.Arn
      TaskRoleArn: !Ref AgentExecutionRoleArn
      ContainerDefinitions:
        - Name: agent
          Image: !Ref ContainerImageUri
          PortMappings: [{ ContainerPort: 8080, Protocol: tcp }]
          Environment:
            - { Name: AGENT_MODULE, Value: !Ref AgentModule }
            - { Name: LLM_PROVIDER, Value: bedrock }
            - { Name: CONNECTOR_MODE, Value: live }
            - { Name: BEDROCK_GUARDRAIL_ID, Value: !Ref BedrockGuardrailId }
            - { Name: ENVIRONMENT, Value: !Ref Environment }
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: !Ref AgentLogGroup
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: agent

  AgentService:
    Type: AWS::ECS::Service
    Condition: IsContainer
    Properties:
      ServiceName: !Sub "hcls-${Environment}-${AgentId}"
      Cluster: !Ref EcsCluster
      LaunchType: FARGATE
      DesiredCount: 1
      TaskDefinition: !Ref AgentTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          AssignPublicIp: DISABLED
          Subnets: !Ref PrivateSubnets
          SecurityGroups: [!Ref AppSecurityGroupId]

Outputs:
  StateMachineArn:
    Condition: IsNative
    Value: !Ref WorkflowStateMachine
    Export: { Name: !Sub "hcls-${Environment}-${AgentId}-sfn" }
  EcsServiceName:
    Condition: IsContainer
    Value: !Ref AgentService
    Export: { Name: !Sub "hcls-${Environment}-${AgentId}-ecs" }
