infra/cloudformation/agent-service.yaml
AWSTemplateFormatVersion: "2010-09-09"
Description: >
  HCLS Agent Suite - Per-agent service stack. Deploys the native rebuild
  (Step Functions orchestrating Lambdas, with a waitForTaskToken human gate) OR
  the container lift (ECS Fargate behind an internal ALB). Parameterized by
  AgentId so the same template serves every agent in the suite.

  CANONICAL PATH: the per-agent SAM golden path (infra/golden-path-<agent>/) is
  the canonical, fully-wired pilot deployment. This shared template is the
  scale-out / multi-agent reference. F7: native Lambdas attach to the VPC
  (private subnets + app SG) when those params are supplied. F8: the container
  path is now a complete, honest reference — internal ALB + target group +
  listener + /ping health check + service-DNS output — gated by required
  ContainerImageUri/AgentModule params.

Metadata:
  cfn-lint:
    config:
      ignore_checks:
        - W1030  # optional network params default to '' and resolve at deploy time

Parameters:
  Environment: { Type: String, Default: dev }
  AgentId:
    Type: String
    Default: 01-regulatory-writing
    Description: Agent folder id (e.g. 01-regulatory-writing, 02-pharmacovigilance).
  DeployMode:
    Type: String
    Default: native
    AllowedValues: [native, container]
  LambdaCodeBucket: { Type: String, Description: S3 bucket holding lambdas.zip }
  LambdaCodeKey: { Type: String, Default: lambdas.zip }
  AgentExecutionRoleArn: { Type: String }
  BedrockGuardrailId: { Type: String, Default: "" }
  ReviewTableName: { Type: String }
  # --- Network params. Used to VPC-attach native Lambdas (F7) and to place the
  #     container service + internal ALB (F8). ---
  VpcId: { Type: String, Default: "" }
  PrivateSubnets:
    Type: CommaDelimitedList
    Default: ""
    Description: Private subnet IDs (from the network stack) for Fargate + Lambda VpcConfig.
  AppSecurityGroupId: { Type: String, Default: "" }
  ContainerImageUri:
    Type: String
    Default: ""
    Description: ECR image URI (ARM64) built from aws-native-reference/_shared/runtime. REQUIRED in container mode.
  AgentModule:
    Type: String
    Default: agent.graph:build_graph
    Description: "module:factory of the agent's compiled LangGraph (AGENT_MODULE)."

Conditions:
  IsNative: !Equals [!Ref DeployMode, native]
  IsContainer: !Equals [!Ref DeployMode, container]
  # VPC-attach native Lambdas only when both subnets and an app SG are supplied.
  VpcAttach: !And
    - !Not [!Equals [!Join ["", !Ref PrivateSubnets], ""]]
    - !Not [!Equals [!Ref AppSecurityGroupId, ""]]

Resources:
  StateMachineRole:
    Type: AWS::IAM::Role
    Condition: IsNative
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - { Effect: Allow, Principal: { Service: states.amazonaws.com }, Action: sts:AssumeRole }
      Policies:
        - PolicyName: invoke-lambdas
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: lambda:InvokeFunction
                Resource: !Sub "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:hcls-${Environment}-${AgentId}-*"

  AssembleFunction:
    Type: AWS::Lambda::Function
    Condition: IsNative
    Properties:
      FunctionName: !Sub "hcls-${Environment}-${AgentId}-assemble"
      Runtime: python3.11
      Handler: lambdas.assemble.handler
      Timeout: 60
      Role: !Ref AgentExecutionRoleArn
      VpcConfig: !If
        - VpcAttach
        - SubnetIds: !Ref PrivateSubnets
          SecurityGroupIds: [!Ref AppSecurityGroupId]
        - !Ref "AWS::NoValue"
      Code: { S3Bucket: !Ref LambdaCodeBucket, S3Key: !Ref LambdaCodeKey }

  DraftFunction:
    Type: AWS::Lambda::Function
    Condition: IsNative
    Properties:
      FunctionName: !Sub "hcls-${Environment}-${AgentId}-draft"
      Runtime: python3.11
      Handler: lambdas.draft.handler
      Timeout: 120
      Role: !Ref AgentExecutionRoleArn
      VpcConfig: !If
        - VpcAttach
        - SubnetIds: !Ref PrivateSubnets
          SecurityGroupIds: [!Ref AppSecurityGroupId]
        - !Ref "AWS::NoValue"
      Environment:
        Variables:
          BEDROCK_GUARDRAIL_ID: !Ref BedrockGuardrailId
          LLM_PROVIDER: bedrock
      Code: { S3Bucket: !Ref LambdaCodeBucket, S3Key: !Ref LambdaCodeKey }

  CheckFunction:
    Type: AWS::Lambda::Function
    Condition: IsNative
    Properties:
      FunctionName: !Sub "hcls-${Environment}-${AgentId}-check"
      Runtime: python3.11
      Handler: lambdas.check.handler
      Timeout: 60
      Role: !Ref AgentExecutionRoleArn
      VpcConfig: !If
        - VpcAttach
        - SubnetIds: !Ref PrivateSubnets
          SecurityGroupIds: [!Ref AppSecurityGroupId]
        - !Ref "AWS::NoValue"
      Code: { S3Bucket: !Ref LambdaCodeBucket, S3Key: !Ref LambdaCodeKey }

  HitlNotifyFunction:
    Type: AWS::Lambda::Function
    Condition: IsNative
    Properties:
      FunctionName: !Sub "hcls-${Environment}-${AgentId}-hitl-notify"
      Runtime: python3.11
      Handler: lambdas.hitl_notify.handler
      Timeout: 60
      Role: !Ref AgentExecutionRoleArn
      VpcConfig: !If
        - VpcAttach
        - SubnetIds: !Ref PrivateSubnets
          SecurityGroupIds: [!Ref AppSecurityGroupId]
        - !Ref "AWS::NoValue"
      Environment: { Variables: { REVIEW_TABLE: !Ref ReviewTableName } }
      Code: { S3Bucket: !Ref LambdaCodeBucket, S3Key: !Ref LambdaCodeKey }

  FinalizeFunction:
    Type: AWS::Lambda::Function
    Condition: IsNative
    Properties:
      FunctionName: !Sub "hcls-${Environment}-${AgentId}-finalize"
      Runtime: python3.11
      Handler: lambdas.finalize.handler
      Timeout: 60
      Role: !Ref AgentExecutionRoleArn
      VpcConfig: !If
        - VpcAttach
        - SubnetIds: !Ref PrivateSubnets
          SecurityGroupIds: [!Ref AppSecurityGroupId]
        - !Ref "AWS::NoValue"
      Code: { S3Bucket: !Ref LambdaCodeBucket, S3Key: !Ref LambdaCodeKey }

  WorkflowStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Condition: IsNative
    Properties:
      StateMachineName: !Sub "hcls-${Environment}-${AgentId}"
      RoleArn: !GetAtt StateMachineRole.Arn
      DefinitionSubstitutions:
        AssembleFunctionArn: !GetAtt AssembleFunction.Arn
        DraftFunctionArn: !GetAtt DraftFunction.Arn
        CheckFunctionArn: !GetAtt CheckFunction.Arn
        HitlNotifyFunctionArn: !GetAtt HitlNotifyFunction.Arn
        FinalizeFunctionArn: !GetAtt FinalizeFunction.Arn
      DefinitionString: |
        {
          "Comment": "HCLS agent workflow (native). HITL via waitForTaskToken.",
          "StartAt": "Assemble",
          "States": {
            "Assemble": {"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","Parameters":{"FunctionName":"${AssembleFunctionArn}","Payload.$":"$"},"OutputPath":"$.Payload","Next":"Draft"},
            "Draft": {"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","Parameters":{"FunctionName":"${DraftFunctionArn}","Payload.$":"$"},"OutputPath":"$.Payload","Next":"Check"},
            "Check": {"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","Parameters":{"FunctionName":"${CheckFunctionArn}","Payload.$":"$"},"OutputPath":"$.Payload","Next":"RouteChoice"},
            "RouteChoice": {"Type":"Choice","Choices":[{"Variable":"$.routing.next","StringEquals":"Draft","Next":"Draft"}],"Default":"HumanReviewGate"},
            "HumanReviewGate": {"Type":"Task","Resource":"arn:aws:states:::lambda:invoke.waitForTaskToken","Parameters":{"FunctionName":"${HitlNotifyFunctionArn}","Payload":{"input.$":"$","task_token.$":"$$.Task.Token"}},"ResultPath":"$.review","TimeoutSeconds":1209600,"Next":"Finalize"},
            "Finalize": {"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","Parameters":{"FunctionName":"${FinalizeFunctionArn}","Payload.$":"$"},"OutputPath":"$.Payload","End":true}
          }
        }

  # ─────────────────────────────────────────────────────────────────────────
  # CONTAINER PATH — ECS Fargate (ARM64) behind an INTERNAL Application Load
  # Balancer. Runs the LangGraph agent unchanged via the shared AgentCore-contract
  # runtime image (serve.py: /invocations + /ping, port 8080). The ALB is
  # internet-facing=false (internal): reachable only from inside the VPC, so the
  # service has a stable, health-checked DNS endpoint without exposing the agent
  # publicly. In an AgentCore-enabled region you may instead register the same
  # ECR image with AgentCore Runtime — same image, no code change.
  # ─────────────────────────────────────────────────────────────────────────
  AgentLogGroup:
    Type: AWS::Logs::LogGroup
    Condition: IsContainer
    DeletionPolicy: Delete
    UpdateReplacePolicy: Delete
    Properties:
      LogGroupName: !Sub "/aws/ecs/hcls-${Environment}-${AgentId}"
      RetentionInDays: 30

  EcsCluster:
    Type: AWS::ECS::Cluster
    Condition: IsContainer
    Properties:
      ClusterName: !Sub "hcls-${Environment}-${AgentId}"

  # SG for the internal ALB: accept 80 from inside the VPC; egress to the app SG.
  AlbSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Condition: IsContainer
    Properties:
      GroupDescription: HCLS internal ALB for the agent service
      VpcId: !Ref VpcId
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 10.40.0.0/16
          Description: HTTP from inside the VPC (internal ALB)
      SecurityGroupEgress:
        - IpProtocol: tcp
          FromPort: 8080
          ToPort: 8080
          DestinationSecurityGroupId: !Ref AppSecurityGroupId
          Description: Forward to the agent task port

  InternalAlb:
    Type: AWS::ElasticLoadBalancingV2::LoadBalancer
    Condition: IsContainer
    Properties:
      Name: !Sub "hcls-${Environment}-${AgentId}"
      Type: application
      Scheme: internal
      Subnets: !Ref PrivateSubnets
      SecurityGroups: [!Ref AlbSecurityGroup]

  AgentTargetGroup:
    Type: AWS::ElasticLoadBalancingV2::TargetGroup
    Condition: IsContainer
    Properties:
      Name: !Sub "hcls-${Environment}-${AgentId}"
      VpcId: !Ref VpcId
      Port: 8080
      Protocol: HTTP
      TargetType: ip
      HealthCheckProtocol: HTTP
      HealthCheckPath: /ping
      HealthCheckIntervalSeconds: 30
      HealthCheckTimeoutSeconds: 5
      HealthyThresholdCount: 2
      UnhealthyThresholdCount: 3
      Matcher: { HttpCode: "200" }

  AlbListener:
    Type: AWS::ElasticLoadBalancingV2::Listener
    Condition: IsContainer
    Properties:
      LoadBalancerArn: !Ref InternalAlb
      Port: 80
      Protocol: HTTP
      DefaultActions:
        - Type: forward
          TargetGroupArn: !Ref AgentTargetGroup

  # Task EXECUTION role: pulls the image from ECR and writes logs (separate from
  # the app/task role, which is the shared least-privilege AgentExecutionRole).
  TaskExecutionRole:
    Type: AWS::IAM::Role
    Condition: IsContainer
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - { Effect: Allow, Principal: { Service: ecs-tasks.amazonaws.com }, Action: sts:AssumeRole }
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AmazonECSTaskExecutionRolePolicy

  AgentTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Condition: IsContainer
    Properties:
      Family: !Sub "hcls-${Environment}-${AgentId}"
      Cpu: "512"
      Memory: "1024"
      NetworkMode: awsvpc
      RequiresCompatibilities: [FARGATE]
      RuntimePlatform: { CpuArchitecture: ARM64, OperatingSystemFamily: LINUX }
      ExecutionRoleArn: !GetAtt TaskExecutionRole.Arn
      TaskRoleArn: !Ref AgentExecutionRoleArn
      ContainerDefinitions:
        - Name: agent
          Image: !Ref ContainerImageUri
          PortMappings: [{ ContainerPort: 8080, Protocol: tcp }]
          Environment:
            - { Name: AGENT_MODULE, Value: !Ref AgentModule }
            - { Name: LLM_PROVIDER, Value: bedrock }
            - { Name: CONNECTOR_MODE, Value: live }
            - { Name: BEDROCK_GUARDRAIL_ID, Value: !Ref BedrockGuardrailId }
            - { Name: ENVIRONMENT, Value: !Ref Environment }
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: !Ref AgentLogGroup
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: agent

  AgentService:
    Type: AWS::ECS::Service
    Condition: IsContainer
    DependsOn: AlbListener
    Properties:
      ServiceName: !Sub "hcls-${Environment}-${AgentId}"
      Cluster: !Ref EcsCluster
      LaunchType: FARGATE
      DesiredCount: 1
      TaskDefinition: !Ref AgentTaskDefinition
      HealthCheckGracePeriodSeconds: 60
      LoadBalancers:
        - ContainerName: agent
          ContainerPort: 8080
          TargetGroupArn: !Ref AgentTargetGroup
      NetworkConfiguration:
        AwsvpcConfiguration:
          AssignPublicIp: DISABLED
          Subnets: !Ref PrivateSubnets
          SecurityGroups: [!Ref AppSecurityGroupId]

Outputs:
  StateMachineArn:
    Condition: IsNative
    Value: !Ref WorkflowStateMachine
    Export: { Name: !Sub "hcls-${Environment}-${AgentId}-sfn" }
  EcsServiceName:
    Condition: IsContainer
    Value: !Ref AgentService
    Export: { Name: !Sub "hcls-${Environment}-${AgentId}-ecs" }
  AgentServiceEndpoint:
    Condition: IsContainer
    Description: Internal ALB DNS for the agent service (POST http://{dns}/invocations, GET /ping).
    Value: !Sub "http://${InternalAlb.DNSName}"
    Export: { Name: !Sub "hcls-${Environment}-${AgentId}-endpoint" }
