aws-native-reference/09-manufacturing-batch-review/stepfunctions/manufacturing_batch_review.asl.json
{
  "Comment": "Pharmacovigilance ICSR pipeline \u2014 AWS-native rebuild. Step Functions orchestrates deterministic Lambdas; Strands/Bedrock only drafts the narrative; the QA reviewer gate uses waitForTaskToken (framework-enforced HITL). critical exceptions force ESCALATE; clean drafts route to QA review; Finalize records the disposition only after approval.",
  "StartAt": "Assemble",
  "States": {
    "Assemble": {
      "Type": "Task",
      "Resource": "${AssembleFunctionArn}",
      "ResultSelector": {
        "body.$": "States.StringToJson($.body)"
      },
      "ResultPath": "$",
      "Next": "Draft",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "PipelineFailed",
          "ResultPath": "$.error"
        }
      ]
    },
    "Draft": {
      "Type": "Task",
      "Resource": "${DraftFunctionArn}",
      "ResultSelector": {
        "body.$": "States.StringToJson($.body)"
      },
      "ResultPath": "$",
      "Next": "Check",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "PipelineFailed",
          "ResultPath": "$.error"
        }
      ]
    },
    "Check": {
      "Type": "Task",
      "Resource": "${CheckFunctionArn}",
      "ResultSelector": {
        "body.$": "States.StringToJson($.body)"
      },
      "ResultPath": "$",
      "Next": "RouteChoice",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "PipelineFailed",
          "ResultPath": "$.error"
        }
      ]
    },
    "RouteChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.body.routing.next",
          "StringEquals": "Draft",
          "Next": "Draft"
        },
        {
          "Variable": "$.body.routing.next",
          "StringEquals": "QAReviewGate",
          "Next": "QAReviewGate"
        }
      ],
      "Default": "QAReviewGate"
    },
    "QAReviewGate": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Parameters": {
        "FunctionName": "${HitlNotifyFunctionArn}",
        "Payload": {
          "input.$": "$.body",
          "task_token.$": "$$.Task.Token"
        }
      },
      "ResultPath": "$.review",
      "TimeoutSeconds": 1209600,
      "Next": "Finalize",
      "Catch": [
        {
          "ErrorEquals": [
            "States.HeartbeatTimeout",
            "States.Timeout"
          ],
          "Next": "ReviewTimeout",
          "ResultPath": "$.error"
        },
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "PipelineFailed",
          "ResultPath": "$.error"
        }
      ]
    },
    "Finalize": {
      "Type": "Task",
      "Resource": "${FinalizeFunctionArn}",
      "Parameters": {
        "body.$": "$.body",
        "review.$": "$.review"
      },
      "ResultSelector": {
        "body.$": "States.StringToJson($.body)"
      },
      "ResultPath": "$",
      "End": true,
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "PipelineFailed",
          "ResultPath": "$.error"
        }
      ]
    },
    "ReviewTimeout": {
      "Type": "Fail",
      "Error": "ReviewTimeout",
      "Cause": "QA reviewer gate exceeded the 14-day timeout without a decision. Batch remains under review."
    },
    "PipelineFailed": {
      "Type": "Fail",
      "Error": "PipelineFailed",
      "Cause": "An unrecoverable error occurred in the manufacturing batch-review pipeline."
    }
  }
}
