aws-native-reference/01-regulatory-writing/stepfunctions/regulatory_writing.asl.json
{
  "Comment": "AWS-native Regulatory Writing. Step Functions orchestrates deterministic Lambdas; the LLM (Strands/Bedrock) only drafts; the Regulatory-Approver gate uses waitForTaskToken (framework-enforced HITL). Prohibited language forces escalation; clean drafts route to review; finalize creates the RIM draft only after approval.",
  "StartAt": "Assemble",
  "States": {
    "Assemble": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${AssembleFunctionArn}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "Next": "Draft",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException",
            "States.TaskFailed",
            "States.Timeout"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "PipelineFailed"
        }
      ],
      "TimeoutSeconds": 300
    },
    "Draft": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${DraftFunctionArn}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "Next": "Check",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException",
            "States.TaskFailed",
            "States.Timeout"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "PipelineFailed"
        }
      ],
      "TimeoutSeconds": 300
    },
    "Check": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${CheckFunctionArn}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "Next": "RouteChoice",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException",
            "States.TaskFailed",
            "States.Timeout"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "PipelineFailed"
        }
      ],
      "TimeoutSeconds": 300
    },
    "RouteChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.routing.next",
          "StringEquals": "Draft",
          "Next": "Draft"
        }
      ],
      "Default": "HumanReviewGate"
    },
    "HumanReviewGate": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Parameters": {
        "FunctionName": "${HitlNotifyFunctionArn}",
        "Payload": {
          "input.$": "$",
          "task_token.$": "$$.Task.Token"
        }
      },
      "ResultPath": "$.review",
      "TimeoutSeconds": 1209600,
      "Next": "Finalize",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "PipelineFailed"
        }
      ]
    },
    "Finalize": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${FinalizeFunctionArn}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "End": true,
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException",
            "States.TaskFailed",
            "States.Timeout"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "PipelineFailed"
        }
      ],
      "TimeoutSeconds": 300
    },
    "PipelineFailed": {
      "Type": "Fail",
      "Error": "PipelineFailed",
      "Cause": "A workflow task failed after retries; execution terminated deterministically. See execution history and the audit trail."
    }
  }
}
